<div class="row justify-content-center">
    <div class="col-5 justify-content-center" style="margin:auto;text-align:center">
        <h2 class="text">Burgers to Eat</h2>
        {{#each data}}
    {{#unless devoured}}
    <h3 class="name">{{burger_name}}</h3>
    <button class="devour" data-id={{id}}>Devour</button>
    <button class='delete' data-id={{id}}>Delete</button>
    {{/unless}}
    {{/each}}
    </div>
    <div class="col-5 justify-content-center" style='margin:auto; text-align:center'>
        <h2 class="text">Burgers Eaten</h2>
        {{#each data}}
        {{#if devoured}}
<h3 class="name">{{burger_name}}</h3>
<button class="devour" data-id={{id}}>Devour</button>
<button class='delete' data-id={{id}}>Delete</button>
{{/if}}
{{/each}}</div>
</div>

